In [30]:
import numpy as np  # 引入numpy、pandas库
import pandas as pd
from dbfread import DBF
from pandas import DataFrame

# def count_storms_times_year(path):
#     table = DBF(path)
#     df = pd.DataFrame(iter(table))
#     row_size = df.shape[0] 
#     temp1 = df # 复制dataframe表格 避免修改原始数据表格
#     ls = [] # 新建每一年台风出现的次数
#     for i in range(1980, 2022):  # 遍历1980到2021年台风
#         temp = temp1.loc[temp1['SEASON']==i] # 遍历第i年台风
#         counts = temp['NUMBER'].value_counts() # 统计每个台风出现的次数
#         ls.append(counts)
#     number_times = []
#     for i in range(len(ls)):
#         number_times.append(ls[i].size)
#     return number_times

path = "./SI.dbf"
df = pd.DataFrame(iter(DBF(path)))

In [31]:
df

,SID,SEASON,NUMBER,BASIN,SUBBASIN,NAME,ISO_TIME,NATURE,LAT,LON,...,USA_SEA_SE,USA_SEA_SW,USA_SEA_NW,STORM_SPD,STORM_DR,year,month,day,hour,min
0,1848011S09079,1848,1,SI,MM,NOT_NAMED,1848-01-11 06:00:00,NR,-9.00,79.00,...,None,None,None,26.0,252.0,1848,1,11,6,0
1,1848011S09079,1848,1,SI,MM,NOT_NAMED,1848-01-11 09:00:00,NR,-9.41,77.73,...,None,None,None,26.0,252.0,1848,1,11,9,0
2,1848011S09079,1848,1,SI,MM,NOT_NAMED,1848-01-11 12:00:00,NR,-9.83,76.47,...,None,None,None,26.0,250.0,1848,1,11,12,0
3,1848011S09079,1848,1,SI,MM,NOT_NAMED,1848-01-11 15:00:00,NR,-10.29,75.23,...,None,None,None,26.0,248.0,1848,1,11,15,0
4,1848011S09079,1848,1,SI,MM,NOT_NAMED,1848-01-11 18:00:00,NR,-10.80,74.00,...,None,None,None,26.0,245.0,1848,1,11,18,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168725,2023134S05082,2023,17,SI,MM,FABIEN,2023-05-22 06:00:00,NR,-11.80,69.00,...,None,None,None,6.0,172.0,2023,5,22,6,0
168726,2023134S05082,2023,17,SI,MM,FABIEN,2023-05-22 09:00:00,NR,-12.19,69.07,...,None,None,None,8.0,166.0,2023,5,22,9,0
168727,2023134S05082,2023,17,SI,MM,FABIEN,2023-05-22 12:00:00,NR,-12.60,69.20,...,None,None,None,8.0,157.0,2023,5,22,12,0
168728,2023134S05082,2023,17,SI,MM,FABIEN,2023-05-22 15:00:00,NR,-12.89,69.39,...,None,None,None,6.0,142.0,2023,5,22,15,0
168729,2023134S05082,2023,17,SI,MM,FABIEN,2023-05-22 18:00:00,NR,-13.10,69.60,...,None,None,None,6.0,135.0,2023,5,22,18,0

In [21]:
df_time = pd.to_datetime(df['ISO_TIME'],format='%Y/%m/%d %H:%M:%S')

In [29]:
df.head()

,SID,SEASON,NUMBER,BASIN,SUBBASIN,NAME,ISO_TIME,NATURE,LAT,LON,...,USA_SEA_SE,USA_SEA_SW,USA_SEA_NW,STORM_SPD,STORM_DR,year,month,day,hour,min
0,1848011S09079,1848,1,SI,MM,NOT_NAMED,1848-01-11 06:00:00,NR,-9.00,79.00,...,None,None,None,26.0,252.0,1848,1,11,6,0
1,1848011S09079,1848,1,SI,MM,NOT_NAMED,1848-01-11 09:00:00,NR,-9.41,77.73,...,None,None,None,26.0,252.0,1848,1,11,9,0
2,1848011S09079,1848,1,SI,MM,NOT_NAMED,1848-01-11 12:00:00,NR,-9.83,76.47,...,None,None,None,26.0,250.0,1848,1,11,12,0
3,1848011S09079,1848,1,SI,MM,NOT_NAMED,1848-01-11 15:00:00,NR,-10.29,75.23,...,None,None,None,26.0,248.0,1848,1,11,15,0
4,1848011S09079,1848,1,SI,MM,NOT_NAMED,1848-01-11 18:00:00,NR,-10.80,74.00,...,None,None,None,26.0,245.0,1848,1,11,18,0

In [27]:
df_new = df
df_new.insert(df_time.dt.year, 'year', 7)

ValueError: cannot insert year, already exists

In [24]:
df.head()

,SID,SEASON,NUMBER,BASIN,SUBBASIN,NAME,ISO_TIME,NATURE,LAT,LON,...,USA_SEA_SE,USA_SEA_SW,USA_SEA_NW,STORM_SPD,STORM_DR,year,month,day,hour,min
0,1848011S09079,1848,1,SI,MM,NOT_NAMED,1848-01-11 06:00:00,NR,-9.00,79.00,...,None,None,None,26.0,252.0,1848,1,11,6,0
1,1848011S09079,1848,1,SI,MM,NOT_NAMED,1848-01-11 09:00:00,NR,-9.41,77.73,...,None,None,None,26.0,252.0,1848,1,11,9,0
2,1848011S09079,1848,1,SI,MM,NOT_NAMED,1848-01-11 12:00:00,NR,-9.83,76.47,...,None,None,None,26.0,250.0,1848,1,11,12,0
3,1848011S09079,1848,1,SI,MM,NOT_NAMED,1848-01-11 15:00:00,NR,-10.29,75.23,...,None,None,None,26.0,248.0,1848,1,11,15,0
4,1848011S09079,1848,1,SI,MM,NOT_NAMED,1848-01-11 18:00:00,NR,-10.80,74.00,...,None,None,None,26.0,245.0,1848,1,11,18,0

In [461]:
def classification(typh_intensity):
    if typh_intensity >= 1 and typh_intensity <= 44:
        result = 'D'
    elif typh_intensity > 44 and typh_intensity <= 63:
        result = 'S'
    elif typh_intensity > 63 and typh_intensity <= 82:
        result = 'C1'
    elif typh_intensity > 82 and typh_intensity <= 95:
        result = 'C2'
    elif typh_intensity > 95 and typh_intensity <= 113:
        result = 'C3'
    elif typh_intensity > 113 and typh_intensity <= 135:
        result = 'C4'        
    elif typh_intensity > 135:
        result = 'C5'
    else:
        result = "WRONG"
    return result

def year(df, year):
    df4 = df[df["SEASON"] == year]
    typhoon_time = df4['NUMBER'].value_counts()  # 统计每个台风出现的次数
    number_typhoon = typhoon_time[:].index[:].tolist() # 统计台风的编号
    number_typhoon.sort() # 对编号进行排序
    ls_max_intensity = []
    ls_classification = []  # 分类列表
    for index in range(len(number_typhoon)):
        df5 = df4[df4["NUMBER"] == number_typhoon[index]]
        index_max = df5['USA_WIND'].max()
        classifation_result = classification(index_max)
        ls_classification.append(classifation_result)
        ls_max_intensity.append(index_max)
    
    ls_year = []
    for i in range(len(number_typhoon)):
        ls_year.append(year)
    tc0 = pd.DataFrame(data= ls_year, columns=['year'] )
    tc1 = pd.DataFrame(data = number_typhoon, columns = ['typhoon_index'])
    tc2 = pd.DataFrame(data = ls_max_intensity, columns = ['max_intensity'])
    tc3 = pd.DataFrame(data = ls_classification, columns = ['typhoon_classification'])
    result_chart = pd.concat([tc0, tc1, tc2, tc3], axis = 1)
    return result_chart

def merge(df):  # 合并成一个Dataframe文件
    new_chart = pd.DataFrame(columns=['year', 'typhoon_index', 'max_intensity', 'typhoon_classification'],index = None)
    for years in range(1980, 2022):
        year_chart = year(df, years)
        new_chart = new_chart.append(year_chart, ignore_index=True)
    return new_chart

def reindex(classification_times):
    return classification_times.reindex(['D', 'S', 'C1', 'C2', 'C3', 'C4', 'C5', 'WRONG'])

def year_classification(class_chart, years):
    year_classification = class_chart.loc[class_chart['year'] == years]
    year_classification = year_classification.typhoon_classification.value_counts()
    year_classification = reindex(year_classification)
    year_classification = pd.DataFrame(year_classification)
    return year_classification

In [462]:
df1 = df.drop(df[df.SEASON <= 1979].index)

df2 = df1[['SEASON','NUMBER','USA_WIND']]

class_chart = merge(df2)

class_chart

      year typhoon_index  max_intensity typhoon_classification
0     1980            25       30.00000                      D
1     1980            30            nan                  WRONG
2     1980            33       60.00000                      S
3     1980            35       90.00000                     C2
4     1980            36      110.00000                     C3
5     1980            37       55.00000                      S
6     1980            38       55.00000                      S
7     1980            41       50.00000                      S
8     1980            43            nan                  WRONG
9     1980            45       60.00000                      S
10    1980            47      105.00000                     C3
11    1980            48       30.00000                      D
12    1980            52      130.00000                     C4
13    1980            54       80.00000                     C1
14    1980            58      110.00000                     C3
15    1980            60       20.00000                      D
16    1980            65       90.00000                     C2
17    1980            67            nan                  WRONG
18    1980            68            nan                  WRONG
19    1980            70       85.00000                     C2
20    1980            71            nan                  WRONG
21    1980            75       65.00000                     C1
22    1980            76       65.00000                     C1
23    1980            77      125.00000                     C4
24    1980            81            nan                  WRONG
25    1980            82       55.00000                      S
26    1980            83      105.00000                     C3
27    1980            85      150.00000                     C5
28    1980            86       35.00000                      D
29    1980            91      125.00000                     C4
30    1980            92       35.00000                      D
31    1980            96            nan                  WRONG
32    1980            99      100.00000                     C3
33    1980           108       50.00000                      S
34    1981            22      100.00000                     C3
35    1981            31       60.00000                      S
36    1981            32            nan                  WRONG
37    1981            34       45.00000                      S
38    1981            39       65.00000                     C1
39    1981            40       75.00000                     C1
40    1981            42       75.00000                     C1
41    1981            43       55.00000                      S
42    1981            49       55.00000                      S
43    1981            51            nan                  WRONG
44    1981            52       35.00000                      D
45    1981            54       65.00000                     C1
46    1981            56       45.00000                      S
47    1981            57            nan                  WRONG
48    1981            58       50.00000                      S
49    1981            59            nan                  WRONG
50    1981            61       60.00000                      S
51    1981            65       45.00000                      S
52    1981            66       55.00000                      S
53    1981            67       85.00000                     C2
54    1981            70       95.00000                     C2
55    1981            74       85.00000                     C2
56    1981            79      120.00000                     C4
57    1981            80            nan                  WRONG
58    1981            82       80.00000                     C1
59    1981            84            nan                  WRONG
60    1981            86      150.00000                     C5
61    1981            88            nan                  WRONG
62    1981            92       45.00000                      S
63    1981            93       95.00000                     C2
64    1981           102            nan                  WRONG
65    1981           105      100.00000                     C3
66    1981           107      135.00000                     C4
67    1981           109       35.00000                      D
68    1981           114      115.00000                     C4
69    1981           119       95.00000                     C2
70    1982            19       60.00000                      S
71    1982            22      105.00000                     C3
72    1982            23       75.00000                     C1
73    1982            29      105.00000                     C3
74    1982            37       75.00000                     C1
75    1982            39       55.00000                      S
76    1982            40       50.00000                      S
77    1982            45       55.00000                      S
78    1982            50      140.00000                     C5
79    1982            51      120.00000                     C4
80    1982            55      125.00000                     C4
81    1982            57       80.00000                     C1
82    1982            60       90.00000                     C2
83    1982            61      125.00000                     C4
84    1982            62      100.00000                     C3
85    1982            66       60.00000                      S
86    1982            67       90.00000                     C2
87    1982            68            nan                  WRONG
88    1982            69       90.00000                     C2
89    1982            74      110.00000                     C3
90    1982            75       50.00000                      S
91    1982            79       30.00000                      D
92    1982            83      140.00000                     C5
93    1982            86            nan                  WRONG
94    1982            87      115.00000                     C4
95    1982            88      105.00000                     C3
96    1982            89       20.00000                      D
97    1982            92            nan                  WRONG
98    1982            94            nan                  WRONG
99    1982           101      100.00000                     C3
100   1982           103       65.00000                     C1
101   1983            26       35.00000                      D
102   1983            29       90.00000                     C2
103   1983            31       65.00000                     C1
104   1983            35      135.00000                     C4
105   1983            40      145.00000                     C5
106   1983            42       45.00000                      S
107   1983            45       50.00000                      S
108   1983            48       55.00000                      S
109   1983            51       30.00000                      D
110   1983            52      125.00000                     C4
111   1983            58      150.00000                     C5
112   1983            62       55.00000                      S
113   1983            64            nan                  WRONG
114   1983            66       50.00000                      S
115   1983            67       65.00000                     C1
116   1983            68       65.00000                     C1
117   1983            70       40.00000                      D
118   1983            73       70.00000                     C1
119   1983            75      145.00000                     C5
120   1983            76            nan                  WRONG
121   1983            79       50.00000                      S
122   1983            82      125.00000                     C4
123   1983            83       25.00000                      D
124   1983            84       70.00000                     C1
125   1983            86       60.00000                      S
126   1983            88            nan                  WRONG
127   1983            89       55.00000                      S
128   1983            90            nan                  WRONG
129   1983            94       55.00000                      S
130   1983            96            nan                  WRONG
131   1984            36       40.00000                      D
132   1984            39       60.00000                      S
133   1984            43       75.00000                     C1
134   1984            44       55.00000                      S
135   1984            45       90.00000                     C2
136   1984            48      125.00000                     C4
137   1984            50      100.00000                     C3
138   1984            52       55.00000                      S
139   1984            53            nan                  WRONG
140   1984            55       30.00000                      D
141   1984            57            nan                  WRONG
142   1984            58       75.00000                     C1
143   1984            59       55.00000                      S
144   1984            60            nan                  WRONG
145   1984            65       20.00000                      D
146   1984            66            nan                  WRONG
147   1984            68       60.00000                      S
148   1984            69      125.00000                     C4
149   1984            78       75.00000                     C1
...    ...           ...            ...                    ...
1300  2017            50       90.00000                     C2
1301  2017            52       40.00000                      D
1302  2017            53       60.00000                      S
1303  2017            57      110.00000                     C3
1304  2017            62      100.00000                     C3
1305  2017            63       60.00000                      S
1306  2017            64       90.00000                     C2
1307  2017            68       45.00000                      S
1308  2017            70       30.00000                      D
1309  2017            72      120.00000                     C4
1310  2017            73       95.00000                     C2
1311  2017            80       30.00000                      D
1312  2017            84       30.00000                      D
1313  2017            86       90.00000                     C2
1314  2017            87      135.00000                     C4
1315  2017            88       25.00000                      D
1316  2017            89       65.00000                     C1
1317  2017            93       90.00000                     C2
1318  2017            94            nan                  WRONG
1319  2017            95       25.00000                      D
1320  2017            97       45.00000                      S
1321  2017            99       40.00000                      D
1322  2017           103       50.00000                      S
1323  2017           104       85.00000                     C2
1324  2018             7       40.00000                      D
1325  2018            16      130.00000                     C4
1326  2018            22       35.00000                      D
1327  2018            27       40.00000                      D
1328  2018            28       60.00000                      S
1329  2018            32       35.00000                      D
1330  2018            33       45.00000                      S
1331  2018            37       80.00000                     C1
1332  2018            39      145.00000                     C5
1333  2018            42       50.00000                      S
1334  2018            43       55.00000                      S
1335  2018            44       35.00000                      D
1336  2018            46       65.00000                     C1
1337  2018            47       90.00000                     C2
1338  2018            50       35.00000                      D
1339  2018            51      135.00000                     C4
1340  2018            52       85.00000                     C2
1341  2018            56       45.00000                      S
1342  2018            59       60.00000                      S
1343  2018            60       65.00000                     C1
1344  2018            62       50.00000                      S
1345  2018            63      105.00000                     C3
1346  2018            66      115.00000                     C4
1347  2018            67       30.00000                      D
1348  2018            69      155.00000                     C5
1349  2018            75      155.00000                     C5
1350  2018            79       45.00000                      S
1351  2018            82      140.00000                     C5
1352  2018            89       30.00000                      D
1353  2018            92      150.00000                     C5
1354  2018           101      150.00000                     C5
1355  2018           105       90.00000                     C2
1356  2018           106       35.00000                      D
1357  2018           108       30.00000                      D
1358  2018           109       95.00000                     C2
1359  2018           114       30.00000                      D
1360  2018           116       50.00000                      S
1361  2019             2       30.00000                      D
1362  2019            10      145.00000                     C5
1363  2019            15       35.00000                      D
1364  2019            27            nan                  WRONG
1365  2019            29       35.00000                      D
1366  2019            31       35.00000                      D
1367  2019            35       45.00000                      S
1368  2019            38       35.00000                      D
1369  2019            41       55.00000                      S
1370  2019            42       80.00000                     C1
1371  2019            43      135.00000                     C4
1372  2019            45      100.00000                     C3
1373  2019            48       60.00000                      S
1374  2019            51       40.00000                      D
1375  2019            53       20.00000                      D
1376  2019            55      115.00000                     C4
1377  2019            56       35.00000                      D
1378  2019            57      120.00000                     C4
1379  2019            62            nan                  WRONG
1380  2019            63       35.00000                      D
1381  2019            69       65.00000                     C1
1382  2019            74       90.00000                     C2
1383  2019            77      160.00000                     C5
1384  2019            81       95.00000                     C2
1385  2019            83      140.00000                     C5
1386  2019            92      105.00000                     C3
1387  2019            93      165.00000                     C5
1388  2019            94       65.00000                     C1
1389  2019            95      115.00000                     C4
1390  2019            96       90.00000                     C2
1391  2019            99       65.00000                     C1
1392  2019           102      120.00000                     C4
1393  2019           109      105.00000                     C3
1394  2020            24      100.00000                     C3
1395  2020            33       35.00000                      D
1396  2020            40            nan                  WRONG
1397  2020            47       45.00000                      S
1398  2020            49       75.00000                     C1
1399  2020            50       40.00000                      D
1400  2020            52       70.00000                     C1
1401  2020            53       45.00000                      S
1402  2020            57       60.00000                      S
1403  2020            62      100.00000                     C3
1404  2020            64      120.00000                     C4
1405  2020            66      135.00000                     C4
1406  2020            72       25.00000                      D
1407  2020            76       50.00000                      S
1408  2020            81       55.00000                      S
1409  2020            83       65.00000                     C1
1410  2020            86       80.00000                     C1
1411  2020            89       40.00000                      D
1412  2020            91       50.00000                      S
1413  2020            92       75.00000                     C1
1414  2020            95       30.00000                      D
1415  2020            96      105.00000                     C3
1416  2020            98      170.00000                     C5
1417  2020           100       50.00000                      S
1418  2020           103       45.00000                      S
1419  2020           104      115.00000                     C4
1420  2020           111       30.00000                      D
1421  2021            14       45.00000                      S
1422  2021            23      165.00000                     C5
1423  2021            26       35.00000                      D
1424  2021            31       51.00000                      S
1425  2021            33       35.00000                      D
1426  2021            37       65.00000                     C1
1427  2021            41       30.00000                      D
1428  2021            42       25.00000                      D
1429  2021            44       95.00000                     C2
1430  2021            46       75.00000                     C1
1431  2021            47       45.00000                      S
1432  2021            51       30.00000                      D
1433  2021            52       54.00000                      S
1434  2021            53       50.00000                      S
1435  2021            54       55.00000                      S
1436  2021            59       51.00000                      S
1437  2021            68       29.00000                      D
1438  2021            70       60.00000                      S
1439  2021            71      148.00000                     C5
1440  2021            77      144.00000                     C5
1441  2021            78       35.00000                      D
1442  2021            82       35.00000                      D
1443  2021            84       64.00000                     C1
1444  2021            85       54.00000                      S
1445  2021            87       84.00000                     C2
1446  2021            89       29.00000                      D
1447  2021            94      130.00000                     C4
1448  2021            99      144.00000                     C5
1449  2021           100       25.00000                      D

[1450 rows x 4 columns]

In [463]:
new_chart = pd.DataFrame(index=['D', 'S', 'C1', 'C2', 'C3', 'C4', 'C5', 'WRONG'],columns=['typhoon_classification', 'Year'])

new_chart = new_chart.drop(['D', 'S', 'C1', 'C2', 'C3', 'C4', 'C5', 'WRONG'], axis=0)

In [464]:
for years in range(1980, 2022):
    a = year_classification(class_chart, years)

    a['Year'] = [years for i in range(8)]
    
    new_chart = pd.concat([new_chart, a], axis=0, ignore_index=False)
    

new_chart

      typhoon_classification  Year
D                          5  1980
S                          7  1980
C1                         3  1980
C2                         3  1980
C3                         5  1980
C4                         3  1980
C5                         1  1980
WRONG                      7  1980
D                          2  1981
S                         10  1981
C1                         5  1981
C2                         5  1981
C3                         2  1981
C4                         3  1981
C5                         1  1981
WRONG                      8  1981
D                          2  1982
S                          6  1982
C1                         4  1982
C2                         3  1982
C3                         6  1982
C4                         4  1982
C5                         2  1982
WRONG                      4  1982
D                    4.00000  1983
S                    9.00000  1983
C1                   5.00000  1983
C2                   1.00000  1983
C3                       NaN  1983
C4                   3.00000  1983
C5                   3.00000  1983
WRONG                5.00000  1983
D                          6  1984
S                          7  1984
C1                         6  1984
C2                         1  1984
C3                         2  1984
C4                         6  1984
C5                         1  1984
WRONG                     10  1984
D                    2.00000  1985
S                    8.00000  1985
C1                   5.00000  1985
C2                   6.00000  1985
C3                   5.00000  1985
C4                       NaN  1985
C5                   1.00000  1985
WRONG               13.00000  1985
D                          2  1986
S                          7  1986
C1                         4  1986
C2                         7  1986
C3                         4  1986
C4                         2  1986
C5                         2  1986
WRONG                     13  1986
D                          5  1987
S                          2  1987
C1                         3  1987
C2                         3  1987
C3                         4  1987
C4                         4  1987
C5                         4  1987
WRONG                      5  1987
D                          4  1988
S                         11  1988
C1                         5  1988
C2                         1  1988
C3                         2  1988
C4                         5  1988
C5                         1  1988
WRONG                     13  1988
D                          6  1989
S                          8  1989
C1                         9  1989
C2                         3  1989
C3                         1  1989
C4                         3  1989
C5                         5  1989
WRONG                     11  1989
D                          6  1990
S                          7  1990
C1                         5  1990
C2                         8  1990
C3                         1  1990
C4                         3  1990
C5                         4  1990
WRONG                      5  1990
D                          5  1991
S                          7  1991
C1                         6  1991
C2                         4  1991
C3                         2  1991
C4                         6  1991
C5                         3  1991
WRONG                      5  1991
D                          6  1992
S                          6  1992
C1                         8  1992
C2                         3  1992
C3                         3  1992
C4                         7  1992
C5                         3  1992
WRONG                      9  1992
D                         10  1993
S                          7  1993
C1                        10  1993
C2                         2  1993
C3                         3  1993
C4                         6  1993
C5                         1  1993
WRONG                      1  1993
D                         10  1994
S                         12  1994
C1                         6  1994
C2                         3  1994
C3                         1  1994
C4                        10  1994
C5                         2  1994
WRONG                      2  1994
D                         13  1995
S                          8  1995
C1                         5  1995
C2                         3  1995
C3                         1  1995
C4                         3  1995
C5                         3  1995
WRONG                      1  1995
D                         18  1996
S                          9  1996
C1                         6  1996
C2                         5  1996
C3                         2  1996
C4                         4  1996
C5                         4  1996
WRONG                      2  1996
D                          5  1997
S                          7  1997
C1                         7  1997
C2                         4  1997
C3                         1  1997
C4                         1  1997
C5                        10  1997
WRONG                      2  1997
D                         10  1998
S                          8  1998
C1                         3  1998
C2                         2  1998
C3                         1  1998
C4                         3  1998
...                      ...   ...
C1                         4  2003
C2                         3  2003
C3                         2  2003
C4                         7  2003
C5                         2  2003
WRONG                      1  2003
D                          8  2004
S                          5  2004
C1                         3  2004
C2                         3  2004
C3                         2  2004
C4                         8  2004
C5                         4  2004
WRONG                      2  2004
D                          1  2005
S                          6  2005
C1                         5  2005
C2                         3  2005
C3                         1  2005
C4                         7  2005
C5                         2  2005
WRONG                      1  2005
D                          7  2006
S                          6  2006
C1                         2  2006
C2                         1  2006
C3                         1  2006
C4                         6  2006
C5                         4  2006
WRONG                      1  2006
D                          9  2007
S                          2  2007
C1                         6  2007
C2                         1  2007
C3                         1  2007
C4                         7  2007
C5                         1  2007
WRONG                      1  2007
D                         12  2008
S                          5  2008
C1                         1  2008
C2                         3  2008
C3                         3  2008
C4                         4  2008
C5                         1  2008
WRONG                      1  2008
D                    9.00000  2009
S                    6.00000  2009
C1                   5.00000  2009
C2                   3.00000  2009
C3                       NaN  2009
C4                   3.00000  2009
C5                   4.00000  2009
WRONG                2.00000  2009
D                          6  2010
S                          6  2010
C1                         4  2010
C2                         1  2010
C3                         2  2010
C4                         1  2010
C5                         1  2010
WRONG                      1  2010
D                   12.00000  2011
S                    5.00000  2011
C1                   2.00000  2011
C2                   1.00000  2011
C3                       NaN  2011
C4                   4.00000  2011
C5                   3.00000  2011
WRONG                1.00000  2011
D                    4.00000  2012
S                    8.00000  2012
C1                   4.00000  2012
C2                   1.00000  2012
C3                   3.00000  2012
C4                   4.00000  2012
C5                   3.00000  2012
WRONG                    NaN  2012
D                         14  2013
S                          6  2013
C1                         4  2013
C2                         2  2013
C3                         3  2013
C4                         5  2013
C5                         3  2013
WRONG                      1  2013
D                    6.00000  2014
S                    5.00000  2014
C1                   4.00000  2014
C2                   1.00000  2014
C3                       NaN  2014
C4                   1.00000  2014
C5                   7.00000  2014
WRONG                2.00000  2014
D                    6.00000  2015
S                    5.00000  2015
C1                   3.00000  2015
C2                   1.00000  2015
C3                   1.00000  2015
C4                  11.00000  2015
C5                   5.00000  2015
WRONG                    NaN  2015
D                          8  2016
S                          5  2016
C1                         5  2016
C2                         1  2016
C3                         1  2016
C4                         5  2016
C5                         5  2016
WRONG                      2  2016
D                   11.00000  2017
S                    9.00000  2017
C1                   2.00000  2017
C2                   6.00000  2017
C3                   2.00000  2017
C4                   3.00000  2017
C5                       NaN  2017
WRONG                1.00000  2017
D                   11.00000  2018
S                    9.00000  2018
C1                   3.00000  2018
C2                   4.00000  2018
C3                   1.00000  2018
C4                   3.00000  2018
C5                   6.00000  2018
WRONG                    NaN  2018
D                          9  2019
S                          3  2019
C1                         4  2019
C2                         3  2019
C3                         3  2019
C4                         5  2019
C5                         4  2019
WRONG                      2  2019
D                    6.00000  2020
S                    8.00000  2020
C1                   5.00000  2020
C2                       NaN  2020
C3                   3.00000  2020
C4                   3.00000  2020
C5                   1.00000  2020
WRONG                1.00000  2020
D                   10.00000  2021
S                    9.00000  2021
C1                   3.00000  2021
C2                   2.00000  2021
C3                       NaN  2021
C4                   1.00000  2021
C5                   4.00000  2021
WRONG                    NaN  2021

[336 rows x 2 columns]

In [466]:
new_chart.to_excel("./WP.xlsx")

In [467]:
a = new_chart.reset_index()

a

     index typhoon_classification  Year
0        D                      5  1980
1        S                      7  1980
2       C1                      3  1980
3       C2                      3  1980
4       C3                      5  1980
5       C4                      3  1980
6       C5                      1  1980
7    WRONG                      7  1980
8        D                      2  1981
9        S                     10  1981
10      C1                      5  1981
11      C2                      5  1981
12      C3                      2  1981
13      C4                      3  1981
14      C5                      1  1981
15   WRONG                      8  1981
16       D                      2  1982
17       S                      6  1982
18      C1                      4  1982
19      C2                      3  1982
20      C3                      6  1982
21      C4                      4  1982
22      C5                      2  1982
23   WRONG                      4  1982
24       D                4.00000  1983
25       S                9.00000  1983
26      C1                5.00000  1983
27      C2                1.00000  1983
28      C3                    NaN  1983
29      C4                3.00000  1983
30      C5                3.00000  1983
31   WRONG                5.00000  1983
32       D                      6  1984
33       S                      7  1984
34      C1                      6  1984
35      C2                      1  1984
36      C3                      2  1984
37      C4                      6  1984
38      C5                      1  1984
39   WRONG                     10  1984
40       D                2.00000  1985
41       S                8.00000  1985
42      C1                5.00000  1985
43      C2                6.00000  1985
44      C3                5.00000  1985
45      C4                    NaN  1985
46      C5                1.00000  1985
47   WRONG               13.00000  1985
48       D                      2  1986
49       S                      7  1986
50      C1                      4  1986
51      C2                      7  1986
52      C3                      4  1986
53      C4                      2  1986
54      C5                      2  1986
55   WRONG                     13  1986
56       D                      5  1987
57       S                      2  1987
58      C1                      3  1987
59      C2                      3  1987
60      C3                      4  1987
61      C4                      4  1987
62      C5                      4  1987
63   WRONG                      5  1987
64       D                      4  1988
65       S                     11  1988
66      C1                      5  1988
67      C2                      1  1988
68      C3                      2  1988
69      C4                      5  1988
70      C5                      1  1988
71   WRONG                     13  1988
72       D                      6  1989
73       S                      8  1989
74      C1                      9  1989
75      C2                      3  1989
76      C3                      1  1989
77      C4                      3  1989
78      C5                      5  1989
79   WRONG                     11  1989
80       D                      6  1990
81       S                      7  1990
82      C1                      5  1990
83      C2                      8  1990
84      C3                      1  1990
85      C4                      3  1990
86      C5                      4  1990
87   WRONG                      5  1990
88       D                      5  1991
89       S                      7  1991
90      C1                      6  1991
91      C2                      4  1991
92      C3                      2  1991
93      C4                      6  1991
94      C5                      3  1991
95   WRONG                      5  1991
96       D                      6  1992
97       S                      6  1992
98      C1                      8  1992
99      C2                      3  1992
100     C3                      3  1992
101     C4                      7  1992
102     C5                      3  1992
103  WRONG                      9  1992
104      D                     10  1993
105      S                      7  1993
106     C1                     10  1993
107     C2                      2  1993
108     C3                      3  1993
109     C4                      6  1993
110     C5                      1  1993
111  WRONG                      1  1993
112      D                     10  1994
113      S                     12  1994
114     C1                      6  1994
115     C2                      3  1994
116     C3                      1  1994
117     C4                     10  1994
118     C5                      2  1994
119  WRONG                      2  1994
120      D                     13  1995
121      S                      8  1995
122     C1                      5  1995
123     C2                      3  1995
124     C3                      1  1995
125     C4                      3  1995
126     C5                      3  1995
127  WRONG                      1  1995
128      D                     18  1996
129      S                      9  1996
130     C1                      6  1996
131     C2                      5  1996
132     C3                      2  1996
133     C4                      4  1996
134     C5                      4  1996
135  WRONG                      2  1996
136      D                      5  1997
137      S                      7  1997
138     C1                      7  1997
139     C2                      4  1997
140     C3                      1  1997
141     C4                      1  1997
142     C5                     10  1997
143  WRONG                      2  1997
144      D                     10  1998
145      S                      8  1998
146     C1                      3  1998
147     C2                      2  1998
148     C3                      1  1998
149     C4                      3  1998
..     ...                    ...   ...
186     C1                      4  2003
187     C2                      3  2003
188     C3                      2  2003
189     C4                      7  2003
190     C5                      2  2003
191  WRONG                      1  2003
192      D                      8  2004
193      S                      5  2004
194     C1                      3  2004
195     C2                      3  2004
196     C3                      2  2004
197     C4                      8  2004
198     C5                      4  2004
199  WRONG                      2  2004
200      D                      1  2005
201      S                      6  2005
202     C1                      5  2005
203     C2                      3  2005
204     C3                      1  2005
205     C4                      7  2005
206     C5                      2  2005
207  WRONG                      1  2005
208      D                      7  2006
209      S                      6  2006
210     C1                      2  2006
211     C2                      1  2006
212     C3                      1  2006
213     C4                      6  2006
214     C5                      4  2006
215  WRONG                      1  2006
216      D                      9  2007
217      S                      2  2007
218     C1                      6  2007
219     C2                      1  2007
220     C3                      1  2007
221     C4                      7  2007
222     C5                      1  2007
223  WRONG                      1  2007
224      D                     12  2008
225      S                      5  2008
226     C1                      1  2008
227     C2                      3  2008
228     C3                      3  2008
229     C4                      4  2008
230     C5                      1  2008
231  WRONG                      1  2008
232      D                9.00000  2009
233      S                6.00000  2009
234     C1                5.00000  2009
235     C2                3.00000  2009
236     C3                    NaN  2009
237     C4                3.00000  2009
238     C5                4.00000  2009
239  WRONG                2.00000  2009
240      D                      6  2010
241      S                      6  2010
242     C1                      4  2010
243     C2                      1  2010
244     C3                      2  2010
245     C4                      1  2010
246     C5                      1  2010
247  WRONG                      1  2010
248      D               12.00000  2011
249      S                5.00000  2011
250     C1                2.00000  2011
251     C2                1.00000  2011
252     C3                    NaN  2011
253     C4                4.00000  2011
254     C5                3.00000  2011
255  WRONG                1.00000  2011
256      D                4.00000  2012
257      S                8.00000  2012
258     C1                4.00000  2012
259     C2                1.00000  2012
260     C3                3.00000  2012
261     C4                4.00000  2012
262     C5                3.00000  2012
263  WRONG                    NaN  2012
264      D                     14  2013
265      S                      6  2013
266     C1                      4  2013
267     C2                      2  2013
268     C3                      3  2013
269     C4                      5  2013
270     C5                      3  2013
271  WRONG                      1  2013
272      D                6.00000  2014
273      S                5.00000  2014
274     C1                4.00000  2014
275     C2                1.00000  2014
276     C3                    NaN  2014
277     C4                1.00000  2014
278     C5                7.00000  2014
279  WRONG                2.00000  2014
280      D                6.00000  2015
281      S                5.00000  2015
282     C1                3.00000  2015
283     C2                1.00000  2015
284     C3                1.00000  2015
285     C4               11.00000  2015
286     C5                5.00000  2015
287  WRONG                    NaN  2015
288      D                      8  2016
289      S                      5  2016
290     C1                      5  2016
291     C2                      1  2016
292     C3                      1  2016
293     C4                      5  2016
294     C5                      5  2016
295  WRONG                      2  2016
296      D               11.00000  2017
297      S                9.00000  2017
298     C1                2.00000  2017
299     C2                6.00000  2017
300     C3                2.00000  2017
301     C4                3.00000  2017
302     C5                    NaN  2017
303  WRONG                1.00000  2017
304      D               11.00000  2018
305      S                9.00000  2018
306     C1                3.00000  2018
307     C2                4.00000  2018
308     C3                1.00000  2018
309     C4                3.00000  2018
310     C5                6.00000  2018
311  WRONG                    NaN  2018
312      D                      9  2019
313      S                      3  2019
314     C1                      4  2019
315     C2                      3  2019
316     C3                      3  2019
317     C4                      5  2019
318     C5                      4  2019
319  WRONG                      2  2019
320      D                6.00000  2020
321      S                8.00000  2020
322     C1                5.00000  2020
323     C2                    NaN  2020
324     C3                3.00000  2020
325     C4                3.00000  2020
326     C5                1.00000  2020
327  WRONG                1.00000  2020
328      D               10.00000  2021
329      S                9.00000  2021
330     C1                3.00000  2021
331     C2                2.00000  2021
332     C3                    NaN  2021
333     C4                1.00000  2021
334     C5                4.00000  2021
335  WRONG                    NaN  2021

[336 rows x 3 columns]

In [468]:
new_chart.sort_index()

      typhoon_classification  Year
C1                        10  1993
C1                         5  1990
C1                   7.00000  1999
C1                         4  2003
C1                   3.00000  2021
C1                   3.00000  2018
C1                         6  1984
C1                   2.00000  2011
C1                         9  1989
C1                         4  2002
C1                   5.00000  2009
C1                         7  1997
C1                   5.00000  1985
C1                         3  1998
C1                         5  1988
C1                   3.00000  2015
C1                         4  2001
C1                   4.00000  2014
C1                         4  1986
C1                         4  2000
C1                         4  2010
C1                         4  2019
C1                   5.00000  1983
C1                         5  2016
C1                         6  1996
C1                         3  1987
C1                   5.00000  2020
C1                         5  1981
C1                         8  1992
C1                   4.00000  2012
C1                         6  1994
C1                         5  2005
C1                         4  2013
C1                         1  2008
C1                         6  2007
C1                         4  1982
C1                         3  1980
C1                   2.00000  2017
C1                         3  2004
C1                         5  1995
C1                         6  1991
C1                         2  2006
C2                         3  2019
C2                   1.00000  2014
C2                         3  1992
C2                         1  2010
C2                   1.00000  2012
C2                         8  1990
C2                         2  1998
C2                         3  1995
C2                         3  1994
C2                         3  1989
C2                         4  1991
C2                         5  1996
C2                         2  2013
C2                       NaN  2020
C2                   1.00000  2011
C2                         1  1988
C2                         4  1997
C2                         1  2007
C2                       NaN  1999
C2                         3  1980
C2                         1  2006
C2                   4.00000  2018
C2                         5  1981
C2                         3  2005
C2                         1  2016
C2                         3  1982
C2                         3  2004
C2                         3  2008
C2                   2.00000  2021
C2                         3  1987
C2                         3  2003
C2                   6.00000  2017
C2                         1  1984
C2                   1.00000  1983
C2                         2  2002
C2                         2  1993
C2                         7  1986
C2                   6.00000  1985
C2                         5  2001
C2                         3  2000
C2                   1.00000  2015
C2                   3.00000  2009
C3                         3  1993
C3                   3.00000  1999
C3                   3.00000  2012
C3                         1  2007
C3                   1.00000  2018
C3                         1  2006
C3                         2  2010
C3                         2  1996
C3                         1  2005
C3                       NaN  2011
C3                         2  2004
C3                         2  2002
C3                         6  2001
C3                         1  1994
C3                       NaN  2009
C3                         3  2019
C3                         1  1995
C3                         3  2008
C3                         1  1997
C3                         2  2003
C3                         2  2000
C3                         1  1998
C3                       NaN  1983
C3                         6  1982
C3                         1  2016
C3                         4  1987
C3                       NaN  2021
C3                         2  1984
C3                         2  1981
C3                   2.00000  2017
C3                         3  2013
C3                         2  1991
C3                         4  1986
C3                         1  1989
C3                   3.00000  2020
C3                         3  1992
C3                   1.00000  2015
C3                         2  1988
C3                       NaN  2014
C3                         5  1980
C3                         1  1990
C3                   5.00000  1985
C4                         3  2000
C4                       NaN  1985
C4                   3.00000  2009
C4                   4.00000  2012
C4                   1.00000  1999
C4                   1.00000  2014
C4                         3  2001
C4                  11.00000  2015
C4                         2  1986
C4                         7  2002
C4                   3.00000  1983
C4                         7  2003
C4                         4  2008
C4                         4  1982
C4                         8  2004
C4                         3  1981
C4                         7  2005
C4                   3.00000  2018
C4                         5  2016
C4                   1.00000  2021
C4                         6  2006
C4                         3  1980
C4                         7  2007
C4                         6  1984
...                      ...   ...
C5                         1  2007
C5                         4  1987
C5                         1  2008
C5                   3.00000  1983
C5                         1  1998
C5                         1  2010
C5                   1.00000  1999
C5                   7.00000  2014
C5                         2  1986
C5                         1  1988
C5                        10  1997
C5                         3  2000
C5                   4.00000  2021
C5                   4.00000  2009
C5                         3  2013
C5                   1.00000  1985
C5                   3.00000  2012
C5                   1.00000  2020
C5                         2  2001
C5                   5.00000  2015
C5                         4  1996
C5                         1  1984
C5                         5  1989
C5                         3  2002
D                    4.00000  2012
D                          8  2016
D                    9.00000  2009
D                         14  2013
D                         12  2008
D                   11.00000  2018
D                   12.00000  2011
D                    6.00000  2014
D                          6  2010
D                    6.00000  2015
D                          5  1980
D                          9  2007
D                         10  1998
D                          5  1997
D                         18  1996
D                         13  1995
D                    6.00000  2020
D                         10  1993
D                          6  1992
D                          5  1991
D                          6  1990
D                          6  1989
D                          4  1988
D                          5  1987
D                          2  1986
D                   10.00000  2021
D                    2.00000  1985
D                          6  1984
D                    4.00000  1983
D                          2  1982
D                          2  1981
D                   11.00000  2017
D                   21.00000  1999
D                         10  1994
D                         13  2000
D                          7  2006
D                          1  2005
D                          8  2004
D                          8  2003
D                         11  2002
D                         10  2001
D                          9  2019
S                    9.00000  2018
S                          2  1987
S                          7  1986
S                          7  2000
S                    5.00000  2015
S                          5  2004
S                    8.00000  1985
S                          8  1998
S                    9.00000  2021
S                          3  2003
S                          7  1984
S                    9.00000  1983
S                          5  2016
S                          6  2005
S                          6  1982
S                          6  2010
S                         10  1981
S                          6  2006
S                          7  1980
S                          5  2008
S                          9  1996
S                         11  1988
S                          7  1997
S                          8  1995
S                          3  2001
S                    8.00000  2012
S                         12  1994
S                          2  2007
S                          3  2019
S                          7  1993
S                    5.00000  2011
S                    5.00000  2014
S                    8.00000  2020
S                          6  2013
S                          6  2002
S                          7  1991
S                    6.00000  2009
S                          7  1990
S                    3.00000  1999
S                          8  1989
S                          6  1992
S                    9.00000  2017
WRONG                1.00000  2020
WRONG                    NaN  2018
WRONG                      2  2019
WRONG                1.00000  2017
WRONG                      2  2000
WRONG                    NaN  2015
WRONG                      2  1994
WRONG                      1  1993
WRONG                      9  1992
WRONG                      5  1991
WRONG                      5  1990
WRONG                     11  1989
WRONG                     13  1988
WRONG                      5  1987
WRONG                     13  1986
WRONG               13.00000  1985
WRONG                     10  1984
WRONG                5.00000  1983
WRONG                      4  1982
WRONG                      8  1981
WRONG                      7  1980
WRONG                      1  1995
WRONG                      2  2016
WRONG                      2  1996
WRONG                      1  1998
WRONG                2.00000  2014
WRONG                      1  2013
WRONG                    NaN  2012
WRONG                1.00000  2011
WRONG                      1  2010
WRONG                2.00000  2009
WRONG                      1  2008
WRONG                      1  2007
WRONG                      1  2006
WRONG                      1  2005
WRONG                      2  2004
WRONG                      1  2003
WRONG                      1  2002
WRONG                      2  2001
WRONG                2.00000  1999
WRONG                      2  1997
WRONG                    NaN  2021

[336 rows x 2 columns]