In [1]:
import math
import numpy as np  # 引入numpy、pandas库
import pandas as pd
from dbfread import DBF
from pandas import DataFrame
from IPython.display import display
pd.options.display.max_columns = None
import matplotlib.pyplot as plt

import seaborn as sns

path_1 = "./SI.dbf"

df_raw1 = pd.DataFrame(iter(DBF(path_1)))

In [ ]:
def max_wind_sum_of_square(ls):
    nums = 0
    for tmp in ls:
        if np.isnan(tmp) == True:
            continue
        else:
            nums += tmp**2
    return nums

In [2]:
df = df_raw1[(df_raw1['USA_STATUS'] != "EX") 
            & (df_raw1['USA_STATUS'] != "SS") 
            & (df_raw1['USA_STATUS'] != "PT") 
            & (df_raw1['USA_STATUS'] != "IN")
            & (df_raw1['USA_STATUS'] != "DS") 
            & (df_raw1['USA_STATUS'] != "WV")
            & (df_raw1['USA_STATUS'] != "ET") 
            & (df_raw1['USA_STATUS'] != "MD") 
            & (df_raw1['USA_STATUS'] != "XX")]# 去掉表格属性USA_STATUS为EX的数据

In [3]:
df_MoreThan35 = df[(df['USA_WIND'] >= 35)]

In [ ]:
df_year2next = df_MoreThan35[((df_MoreThan35['year'] == 1976) & (df_MoreThan35['month'] >= 7)) 
   | ((df_MoreThan35['year'] == 1976+1) & (df_MoreThan35['month'] <= 6))]

In [20]:
def TwoMax(a, b):
    if a >= b:
        return a
    else:
        return b
df_year2next = df_MoreThan35[((df_MoreThan35['year'] == 1983) & (df_MoreThan35['month'] >= 7)) 
   | ((df_MoreThan35['year'] == 1983+1) & (df_MoreThan35['month'] <= 6))]
lst = df_year2next['USA_WIND'].values.tolist()
length = len(lst)
if length % 2 == 0:
    SumAce = 0
    for i in range(0, len(lst), 2):
        tmp = TwoMax(lst[i], lst[i+1])
        SumAce += tmp ** 2
elif length % 2 == 1:
    SumAce = 0
    for i in range(0, length-1, 2):
        tmp = TwoMax(lst[i], lst[i+1])
        SumAce += tmp ** 2
    SumAce += (lst[length-1] ** 2) * 0.5
    
SumAce

1769454.5

In [21]:
df_year2next.hour.apply(lambda x: True if df_year2next['hour']%3)

109844    0
109845    0
109846    0
109847    0
109848    0
         ..
111867    0
111868    0
111869    0
111870    0
111871    0
Name: hour, Length: 851, dtype: int64

In [18]:
ACE = []
for year in range(1976, 2022):
    df_year2next = df_MoreThan35[((df_MoreThan35['year'] == year) & (df_MoreThan35['month'] >= 7)) 
   | ((df_MoreThan35['year'] == year+1) & (df_MoreThan35['month'] <= 6))]
    lst = df_year2next['USA_WIND'].values.tolist()
    length = len(lst)
    if length % 2 == 0:
        SumAce = 0
        for i in range(0, length, 2):
            tmp = TwoMax(lst[i], lst[i+1])
            SumAce += tmp ** 2
    elif length % 2 == 1:
        SumAce = 0
        for i in range(0, length-1, 2):
            tmp = TwoMax(lst[i], lst[i+1])
            SumAce += tmp ** 2
        SumAce += (lst[length-1] ** 2) * 0.5
    ACE.append(SumAce)
    print("The %d year 7 month to %d year 6 month ACE is %.3f!"%(year, year+1, SumAce))

The 1976 year 7 month to 1977 year 6 month ACE is 441577.500!
The 1977 year 7 month to 1978 year 6 month ACE is 1057016.500!
The 1978 year 7 month to 1979 year 6 month ACE is 372563.500!
The 1979 year 7 month to 1980 year 6 month ACE is 1909930.000!
The 1980 year 7 month to 1981 year 6 month ACE is 922609.000!
The 1981 year 7 month to 1982 year 6 month ACE is 1107463.000!
The 1982 year 7 month to 1983 year 6 month ACE is 386294.000!
The 1983 year 7 month to 1984 year 6 month ACE is 1769454.500!
The 1984 year 7 month to 1985 year 6 month ACE is 0.000!
The 1985 year 7 month to 1986 year 6 month ACE is 1601518.000!
The 1986 year 7 month to 1987 year 6 month ACE is 553485.000!
The 1987 year 7 month to 1988 year 6 month ACE is 805262.000!
The 1988 year 7 month to 1989 year 6 month ACE is 1661928.500!
The 1989 year 7 month to 1990 year 6 month ACE is 1671954.500!
The 1990 year 7 month to 1991 year 6 month ACE is 1105031.500!
The 1991 year 7 month to 1992 year 6 month ACE is 1634055.500!
The 1992 year 7 month to 1993 year 6 month ACE is 893377.500!
The 1993 year 7 month to 1994 year 6 month ACE is 2356347.000!
The 1994 year 7 month to 1995 year 6 month ACE is 1472586.000!
The 1995 year 7 month to 1996 year 6 month ACE is 3081241.000!
The 1996 year 7 month to 1997 year 6 month ACE is 2847905.000!
The 1997 year 7 month to 1998 year 6 month ACE is 1041233.000!
The 1998 year 7 month to 1999 year 6 month ACE is 2673415.500!
The 1999 year 7 month to 2000 year 6 month ACE is 2608212.500!
The 2000 year 7 month to 2001 year 6 month ACE is 1279401.000!
The 2001 year 7 month to 2002 year 6 month ACE is 1909369.000!
The 2002 year 7 month to 2003 year 6 month ACE is 1615568.500!
The 2003 year 7 month to 2004 year 6 month ACE is 1825277.500!
The 2004 year 7 month to 2005 year 6 month ACE is 1605299.000!
The 2005 year 7 month to 2006 year 6 month ACE is 1321508.000!
The 2006 year 7 month to 2007 year 6 month ACE is 1699449.000!
The 2007 year 7 month to 2008 year 6 month ACE is 1609031.000!
The 2008 year 7 month to 2009 year 6 month ACE is 849003.500!
The 2009 year 7 month to 2010 year 6 month ACE is 1121574.500!
The 2010 year 7 month to 2011 year 6 month ACE is 848075.000!
The 2011 year 7 month to 2012 year 6 month ACE is 1348979.000!
The 2012 year 7 month to 2013 year 6 month ACE is 1338146.000!
The 2013 year 7 month to 2014 year 6 month ACE is 1494688.000!
The 2014 year 7 month to 2015 year 6 month ACE is 1717754.000!
The 2015 year 7 month to 2016 year 6 month ACE is 1009768.000!
The 2016 year 7 month to 2017 year 6 month ACE is 633210.000!
The 2017 year 7 month to 2018 year 6 month ACE is 1348715.000!
The 2018 year 7 month to 2019 year 6 month ACE is 2299296.500!
The 2019 year 7 month to 2020 year 6 month ACE is 966840.000!
The 2020 year 7 month to 2021 year 6 month ACE is 1443370.500!
The 2021 year 7 month to 2022 year 6 month ACE is 825335.500!

In [19]:
ace = pd.DataFrame(ACE)
ace.to_excel("./ACE SP.xlsx")  # 存储到excel中