In [25]:
import numpy as np  # 引入numpy、pandas库
import pandas as pd
from dbfread import DBF
from pandas import DataFrame

# def count_storms_times_year(path):
#     table = DBF(path)
#     df = pd.DataFrame(iter(table))
#     row_size = df.shape[0] 
#     temp1 = df # 复制dataframe表格 避免修改原始数据表格
#     ls = [] # 新建每一年台风出现的次数
#     for i in range(1980, 2022):  # 遍历1980到2021年台风
#         temp = temp1.loc[temp1['SEASON']==i] # 遍历第i年台风
#         counts = temp['NUMBER'].value_counts() # 统计每个台风出现的次数
#         ls.append(counts)
#     number_times = []
#     for i in range(len(ls)):
#         number_times.append(ls[i].size)
#     return number_times

path = "./SI.dbf"
# path = "./SP.dbf"


df = pd.DataFrame(iter(DBF(path)))
#显示所有列
pd.set_option('display.max_columns', None)
#显示所有行
pd.set_option('display.max_rows', None)
#设置value的显示长度为100，默认为50
pd.set_option('max_colwidth',100)

In [14]:
# def classification(typh_intensity):
#     if typh_intensity >= 1 and typh_intensity <= 44:
#         result = 'D'
#     elif typh_intensity > 44 and typh_intensity <= 63:
#         result = 'S'
#     elif typh_intensity > 63 and typh_intensity <= 82:
#         result = 'C1'
#     elif typh_intensity > 82 and typh_intensity <= 95:
#         result = 'C2'
#     elif typh_intensity > 95 and typh_intensity <= 113:
#         result = 'C3'
#     elif typh_intensity > 113 and typh_intensity <= 135:
#         result = 'C4'        
#     elif typh_intensity > 135:
#         result = 'C5'
#     else:
#         result = "WRONG"
#     return result

def classification(typh_intensity):
    if typh_intensity >= 1 and typh_intensity <= 33:
        result = 'D'
    elif typh_intensity > 33 and typh_intensity <= 63:
        result = 'S'
    elif typh_intensity > 63 and typh_intensity <= 82:
        result = 'C1'
    elif typh_intensity > 82 and typh_intensity <= 95:
        result = 'C2'
    elif typh_intensity > 95 and typh_intensity <= 112:
        result = 'C3'
    elif typh_intensity > 112 and typh_intensity <= 136:
        result = 'C4'        
    elif typh_intensity > 136:
        result = 'C5'
    else:
        result = "WRONG"
    return result

def year(df, YEAR):
    df4 = df[df["SEASON"] == YEAR]
    typhoon_time = df4['NUMBER'].value_counts()  # 统计每个台风出现的次数
    number_typhoon = typhoon_time[:].index[:].tolist() # 统计台风的编号
    number_typhoon.sort() # 对编号进行排序
    ls_max_intensity = []
    ls_classification = []  # 分类列表
    for index in range(len(number_typhoon)):
        df5 = df4[df4["NUMBER"] == number_typhoon[index]]
        index_max = df5['USA_WIND'].max()
        classifation_result = classification(index_max)
        ls_classification.append(classifation_result)
        ls_max_intensity.append(index_max)
    
    ls_year = []
    for i in range(len(number_typhoon)):
        ls_year.append(YEAR)
    tc0 = pd.DataFrame(data= ls_year, columns=['year'] )
    tc1 = pd.DataFrame(data = number_typhoon, columns = ['typhoon_index'])
    tc2 = pd.DataFrame(data = ls_max_intensity, columns = ['max_intensity'])
    tc3 = pd.DataFrame(data = ls_classification, columns = ['typhoon_classification'])
    result_chart = pd.concat([tc0, tc1, tc2, tc3], axis = 1)
    return result_chart

def merge(df, start_year, end_year):  # 合并成一个Dataframe文件
    new_chart = pd.DataFrame(columns=['year', 'typhoon_index', 'max_intensity', 'typhoon_classification'],index = None)
    for years in range(start_year, end_year+1):
        year_chart = year(df, years)
        new_chart = new_chart.append(year_chart, ignore_index=True)
    return new_chart

def reindex(classification_times):
    return classification_times.reindex(['D', 'S', 'C1', 'C2', 'C3', 'C4', 'C5', 'WRONG'])

def year_classification(class_chart, years):
    year_classification = class_chart.loc[class_chart['year'] == years]
    year_classification = year_classification.typhoon_classification.value_counts()
    year_classification = reindex(year_classification)
    year_classification = pd.DataFrame(year_classification)
    return year_classification

In [26]:
frequency = pd.DataFrame(columns=[ 'D', 'S', 'C1', 'C2', 'C3', 'C4', 'C5', 'WRONG'],index = None)
for i in range(1897, 2022):
    df_year2next = df[((df['year'] == i) & (df['month'] >= 7)) 
   | ((df['year'] == i+1) & (df['month'] <= 6))]
    chart = merge(df_year2next, i, i+1)
    tmp_count = chart.typhoon_classification.value_counts()
    tmp_cla = tmp_count.reindex(['D', 'S', 'C1', 'C2', 'C3', 'C4', 'C5', 'WRONG'], fill_value=0)
    tmp_cla_year = pd.DataFrame(tmp_cla).T
    tmp_year = tmp_cla_year.rename(index={"typhoon_classification": str(i)+'to'+str(i+1)})
    frequency = frequency.append(tmp_year)

frequency

            D   S C1 C2 C3  C4 C5 WRONG
1897to1898  0   0  0  0  0   0  0    17
1898to1899  0   0  0  0  0   0  0    11
1899to1900  0   0  0  0  0   0  0    13
1900to1901  0   0  0  0  0   0  0    14
1901to1902  0   0  0  0  0   0  0    19
1902to1903  0   0  0  0  0   0  0    32
1903to1904  0   0  0  0  0   0  0    10
1904to1905  0   0  0  0  0   0  0    20
1905to1906  0   0  0  0  0   0  0    14
1906to1907  0   0  0  0  0   0  0    20
1907to1908  0   0  0  0  0   0  0    21
1908to1909  0   0  0  0  0   0  0    22
1909to1910  0   0  0  0  0   0  0    12
1910to1911  0   0  0  0  0   0  0    24
1911to1912  0   0  0  0  0   0  0    20
1912to1913  0   0  0  0  0   0  0    20
1913to1914  0   0  0  0  0   0  0     6
1914to1915  0   0  0  0  0   0  0     7
1915to1916  0   0  0  0  0   0  0    10
1916to1917  0   0  0  0  0   0  0    19
1917to1918  0   0  0  0  0   0  0    22
1918to1919  0   0  0  0  0   0  0     7
1919to1920  0   0  0  0  0   0  0    13
1920to1921  0   0  0  0  0   0  0    19
1921to1922  0   0  0  0  0   0  0    25
1922to1923  0   0  0  0  0   0  0    14
1923to1924  0   0  0  0  0   0  0     5
1924to1925  0   0  0  0  0   0  0    14
1925to1926  0   0  0  0  0   0  0    19
1926to1927  0   0  0  0  0   0  0    16
1927to1928  0   0  0  0  0   0  0    28
1928to1929  0   0  0  0  0   0  0    23
1929to1930  0   0  0  0  0   0  0    19
1930to1931  0   0  0  0  0   0  0    18
1931to1932  0   0  0  0  0   0  0    24
1932to1933  0   0  0  0  0   0  0    10
1933to1934  0   0  0  0  0   0  0    17
1934to1935  0   0  0  0  0   0  0    31
1935to1936  0   0  0  0  0   0  0    10
1936to1937  0   0  0  0  0   0  0    13
1937to1938  0   0  0  0  0   0  0    16
1938to1939  0   0  0  0  0   0  0    20
1939to1940  0   0  0  0  0   0  0    16
1940to1941  0   0  0  0  0   0  0    13
1941to1942  0   0  0  0  0   0  0    10
1942to1943  0   0  0  0  0   0  0    21
1943to1944  0   0  0  0  0   0  0    22
1944to1945  0   0  0  0  0   0  0    26
1945to1946  0   0  0  0  0   0  0    25
1946to1947  0   0  0  0  0   0  0    23
1947to1948  0   0  0  0  0   0  0    11
1948to1949  0   0  0  0  0   0  0    23
1949to1950  0   0  0  0  0   0  0    10
1950to1951  0   0  0  0  0   0  0    18
1951to1952  0   0  0  0  0   0  0    19
1952to1953  0   0  0  0  0   0  0    16
1953to1954  0   0  0  0  0   0  0     8
1954to1955  0   0  0  0  0   0  0    16
1955to1956  0   1  0  0  0   0  0    21
1956to1957  5   1  0  0  0   0  0    17
1957to1958  1   1  0  0  0   0  0    21
1958to1959  2   0  0  0  0   0  0    22
1959to1960  0   0  0  0  0   0  0    14
1960to1961  2   0  0  0  0   0  0    18
1961to1962  1   0  0  0  0   0  0    29
1962to1963  0   5  1  0  0   0  0    13
1963to1964  2   1  1  0  0   0  0    17
1964to1965  0   2  1  0  0   0  0    26
1965to1966  2   2  1  0  0   0  0    25
1966to1967  2   3  0  0  0   0  0    16
1967to1968  1   2  0  0  0   0  0    20
1968to1969  1   1  0  0  0   0  0    17
1969to1970  0   0  0  0  0   0  0    26
1970to1971  0   3  1  0  0   0  0    37
1971to1972  0   4  1  1  0   0  0    16
1972to1973  0   1  1  1  0   0  0    37
1973to1974  0   0  0  0  0   0  0    31
1974to1975  1   3  1  0  0   0  0    26
1975to1976  0   1  0  0  0   1  0    34
1976to1977  0   1  0  3  0   0  0    17
1977to1978  0   1  0  2  1   1  0    23
1978to1979  0   7  0  1  1   0  0    20
1979to1980  0   5  2  3  6   0  0    10
1980to1981  0   7  1  0  4   1  0    13
1981to1982  1  12  4  1  1   1  0    11
1982to1983  1   5  4  0  0   0  0     3
1983to1984  0  12  5  2  2   2  0     9
1984to1985  0  13  6  0  1   2  0     2
1985to1986  0  11  3  2  4   1  0    10
1986to1987  2   8  4  0  0   0  0     2
1987to1988  1   7  2  2  0   2  0     3
1988to1989  1   4  5  2  3   2  1     7
1989to1990  3   9  3  2  2   2  0     4
1990to1991  2   8  1  3  1   1  0     2
1991to1992  1   8  0  0  1   6  0     6
1992to1993  0   7  2  2  1   1  0     5
1993to1994  0   9  2  4  4   2  1     1
1994to1995  1   5  2  1  4   3  0     3
1995to1996  1   7  4  3  1   4  2     4
1996to1997  0   9  5  2  1   4  0     1
1997to1998  2  11  2  2  0   2  0     0
1998to1999  1  10  4  0  2   3  1     2
1999to2000  1   6  3  2  0   7  0     2
2000to2001  0   7  3  2  3   1  0     2
2001to2002  0   7  3  0  2   4  1     0
2002to2003  1   8  3  2  2   1  2     3
2003to2004  2   5  6  0  2   3  1     0
2004to2005  0  11  2  1  2   2  1     1
2005to2006  0  10  0  0  1   4  1     0
2006to2007  0   3  3  0  4   4  0     1
2007to2008  0  11  3  2  2   3  0     0
2008to2009  0  11  3  0  2   2  0     1
2009to2010  0   6  4  0  1   3  1     1
2010to2011  0   7  3  1  1   1  0     3
2011to2012  1   7  4  3  0   2  0     2
2012to2013  0   7  2  2  2   4  0     0
2013to2014  0   6  1  1  1   4  2     2
2014to2015  0   8  1  2  3   2  2     0
2015to2016  0   4  2  0  0   2  1     1
2016to2017  0   6  2  1  0   1  1     5
2017to2018  0   3  4  2  2   1  1     1
2018to2019  0   6  1  1  1  10  0     1
2019to2020  0   9  1  3  4   0  1     0
2020to2021  0  10  3  2  1   1  1     3
2021to2022  0   5  0  0  1   3  0     7

In [27]:
frequency = frequency.drop('WRONG', axis=1)

In [28]:
frequency['Row_sum'] = frequency.apply(lambda x: x.sum(), axis=1) # 按行求和，添加为新列

In [29]:
frequency

            D   S C1 C2 C3  C4 C5  Row_sum
1897to1898  0   0  0  0  0   0  0        0
1898to1899  0   0  0  0  0   0  0        0
1899to1900  0   0  0  0  0   0  0        0
1900to1901  0   0  0  0  0   0  0        0
1901to1902  0   0  0  0  0   0  0        0
1902to1903  0   0  0  0  0   0  0        0
1903to1904  0   0  0  0  0   0  0        0
1904to1905  0   0  0  0  0   0  0        0
1905to1906  0   0  0  0  0   0  0        0
1906to1907  0   0  0  0  0   0  0        0
1907to1908  0   0  0  0  0   0  0        0
1908to1909  0   0  0  0  0   0  0        0
1909to1910  0   0  0  0  0   0  0        0
1910to1911  0   0  0  0  0   0  0        0
1911to1912  0   0  0  0  0   0  0        0
1912to1913  0   0  0  0  0   0  0        0
1913to1914  0   0  0  0  0   0  0        0
1914to1915  0   0  0  0  0   0  0        0
1915to1916  0   0  0  0  0   0  0        0
1916to1917  0   0  0  0  0   0  0        0
1917to1918  0   0  0  0  0   0  0        0
1918to1919  0   0  0  0  0   0  0        0
1919to1920  0   0  0  0  0   0  0        0
1920to1921  0   0  0  0  0   0  0        0
1921to1922  0   0  0  0  0   0  0        0
1922to1923  0   0  0  0  0   0  0        0
1923to1924  0   0  0  0  0   0  0        0
1924to1925  0   0  0  0  0   0  0        0
1925to1926  0   0  0  0  0   0  0        0
1926to1927  0   0  0  0  0   0  0        0
1927to1928  0   0  0  0  0   0  0        0
1928to1929  0   0  0  0  0   0  0        0
1929to1930  0   0  0  0  0   0  0        0
1930to1931  0   0  0  0  0   0  0        0
1931to1932  0   0  0  0  0   0  0        0
1932to1933  0   0  0  0  0   0  0        0
1933to1934  0   0  0  0  0   0  0        0
1934to1935  0   0  0  0  0   0  0        0
1935to1936  0   0  0  0  0   0  0        0
1936to1937  0   0  0  0  0   0  0        0
1937to1938  0   0  0  0  0   0  0        0
1938to1939  0   0  0  0  0   0  0        0
1939to1940  0   0  0  0  0   0  0        0
1940to1941  0   0  0  0  0   0  0        0
1941to1942  0   0  0  0  0   0  0        0
1942to1943  0   0  0  0  0   0  0        0
1943to1944  0   0  0  0  0   0  0        0
1944to1945  0   0  0  0  0   0  0        0
1945to1946  0   0  0  0  0   0  0        0
1946to1947  0   0  0  0  0   0  0        0
1947to1948  0   0  0  0  0   0  0        0
1948to1949  0   0  0  0  0   0  0        0
1949to1950  0   0  0  0  0   0  0        0
1950to1951  0   0  0  0  0   0  0        0
1951to1952  0   0  0  0  0   0  0        0
1952to1953  0   0  0  0  0   0  0        0
1953to1954  0   0  0  0  0   0  0        0
1954to1955  0   0  0  0  0   0  0        0
1955to1956  0   1  0  0  0   0  0        1
1956to1957  5   1  0  0  0   0  0        6
1957to1958  1   1  0  0  0   0  0        2
1958to1959  2   0  0  0  0   0  0        2
1959to1960  0   0  0  0  0   0  0        0
1960to1961  2   0  0  0  0   0  0        2
1961to1962  1   0  0  0  0   0  0        1
1962to1963  0   5  1  0  0   0  0        6
1963to1964  2   1  1  0  0   0  0        4
1964to1965  0   2  1  0  0   0  0        3
1965to1966  2   2  1  0  0   0  0        5
1966to1967  2   3  0  0  0   0  0        5
1967to1968  1   2  0  0  0   0  0        3
1968to1969  1   1  0  0  0   0  0        2
1969to1970  0   0  0  0  0   0  0        0
1970to1971  0   3  1  0  0   0  0        4
1971to1972  0   4  1  1  0   0  0        6
1972to1973  0   1  1  1  0   0  0        3
1973to1974  0   0  0  0  0   0  0        0
1974to1975  1   3  1  0  0   0  0        5
1975to1976  0   1  0  0  0   1  0        2
1976to1977  0   1  0  3  0   0  0        4
1977to1978  0   1  0  2  1   1  0        5
1978to1979  0   7  0  1  1   0  0        9
1979to1980  0   5  2  3  6   0  0       16
1980to1981  0   7  1  0  4   1  0       13
1981to1982  1  12  4  1  1   1  0       20
1982to1983  1   5  4  0  0   0  0       10
1983to1984  0  12  5  2  2   2  0       23
1984to1985  0  13  6  0  1   2  0       22
1985to1986  0  11  3  2  4   1  0       21
1986to1987  2   8  4  0  0   0  0       14
1987to1988  1   7  2  2  0   2  0       14
1988to1989  1   4  5  2  3   2  1       18
1989to1990  3   9  3  2  2   2  0       21
1990to1991  2   8  1  3  1   1  0       16
1991to1992  1   8  0  0  1   6  0       16
1992to1993  0   7  2  2  1   1  0       13
1993to1994  0   9  2  4  4   2  1       22
1994to1995  1   5  2  1  4   3  0       16
1995to1996  1   7  4  3  1   4  2       22
1996to1997  0   9  5  2  1   4  0       21
1997to1998  2  11  2  2  0   2  0       19
1998to1999  1  10  4  0  2   3  1       21
1999to2000  1   6  3  2  0   7  0       19
2000to2001  0   7  3  2  3   1  0       16
2001to2002  0   7  3  0  2   4  1       17
2002to2003  1   8  3  2  2   1  2       19
2003to2004  2   5  6  0  2   3  1       19
2004to2005  0  11  2  1  2   2  1       19
2005to2006  0  10  0  0  1   4  1       16
2006to2007  0   3  3  0  4   4  0       14
2007to2008  0  11  3  2  2   3  0       21
2008to2009  0  11  3  0  2   2  0       18
2009to2010  0   6  4  0  1   3  1       15
2010to2011  0   7  3  1  1   1  0       13
2011to2012  1   7  4  3  0   2  0       17
2012to2013  0   7  2  2  2   4  0       17
2013to2014  0   6  1  1  1   4  2       15
2014to2015  0   8  1  2  3   2  2       18
2015to2016  0   4  2  0  0   2  1        9
2016to2017  0   6  2  1  0   1  1       11
2017to2018  0   3  4  2  2   1  1       13
2018to2019  0   6  1  1  1  10  0       19
2019to2020  0   9  1  3  4   0  1       18
2020to2021  0  10  3  2  1   1  1       18
2021to2022  0   5  0  0  1   3  0        9

In [31]:
frequency.to_excel("./SI.xlsx")